<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div class="magellan-container" style="" data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <dd data-magellan-arrival="intro"><a href="#intro">Intro</a></dd>
    <dd data-magellan-arrival="sub1"><a href="#sub1">Wanchai</a></dd>
    <dd data-magellan-arrival="sub2"><a href="#sub2">Stanley</a></dd>
    <dd data-magellan-arrival="sub3"><a href="#sub3">Migration</a></dd>
    <dd data-magellan-arrival="sub4"><a href="#sub4">Police1</a></dd>
    <dd data-magellan-arrival="sub5"><a href="#sub5">Police2</a></dd>
    <dd data-magellan-arrival="sub6"><a href="#sub6">Stat</a></dd>
  </dl>
</div>

<h3 data-magellan-destination="intro">Intro</h3>
<a name="intro"></a>
    
      <div class="row full-width">
          <img src="http://placehold.it/400x300&text=[img]"/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices dictum nisl, vel tincidunt tellus vulputate nec. Mauris eget justo sit amet erat rhoncus dictum et ut erat. Proin feugiat, libero eget mollis venenatis, dui diam sodales justo, eget efficitur leo turpis quis sapien. In porttitor felis sed dolor placerat faucibus. Cras maximus turpis ut tempor maximus. Donec sapien est, tempor vitae eros eu, mattis lacinia dui. Ut faucibus lobortis ligula, dapibus tristique orci dignissim ut. Donec tincidunt diam nunc, vel condimentum dui egestas et. Nulla commodo sem suscipit purus scelerisque consectetur. Donec diam purus, rutrum vel nisi consequat, viverra pulvinar dolor. Nam quam lacus, euismod semper blandit quis, rutrum at ligula. Pellentesque consectetur, libero fermentum tempus gravida, nulla felis mollis mauris, vitae bibendum diam felis ac velit./p>
        <hr/>
      </div>
     
<h3 data-magellan-destination="sub1" class="active">Wanchai</h3>
<a name="sub1"></a>
      <div class="row">
        <div class="large-8 columns">
          <img src="http://placehold.it/400x300&text=[img]"/>
        </div>
        
        <div class="large-4 columns">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices dictum nisl, vel tincidunt tellus vulputate nec. Mauris eget justo sit amet erat rhoncus dictum et ut erat. Proin feugiat, libero eget mollis venenatis, dui diam sodales justo, eget efficitur leo turpis quis sapien. In porttitor felis sed dolor placerat faucibus. Cras maximus turpis ut tempor maximus. Donec sapien est, tempor vitae eros eu, mattis lacinia dui. Ut faucibus lobortis ligula, dapibus tristique orci dignissim ut. Donec tincidunt diam nunc, vel condimentum dui egestas et. Nulla commodo sem suscipit purus scelerisque consectetur. Donec diam purus, rutrum vel nisi consequat, viverra pulvinar dolor. Nam quam lacus, euismod semper blandit quis, rutrum at ligula. Pellentesque consectetur, libero fermentum tempus gravida, nulla felis mollis mauris, vitae bibendum diam felis ac velit.</p>
        </div>
      </div>
      <hr/>

<h3 data-magellan-destination="sub2">Stanley</h3>
<a name="sub2"></a>
     <div class="row">
      <div class="large-4 columns">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices dictum nisl, vel tincidunt tellus vulputate nec. Mauris eget justo sit amet erat rhoncus dictum et ut erat. Proin feugiat, libero eget mollis venenatis, dui diam sodales justo, eget efficitur leo turpis quis sapien. In porttitor felis sed dolor placerat faucibus. Cras maximus turpis ut tempor maximus. Donec sapien est, tempor vitae eros eu, mattis lacinia dui. Ut faucibus lobortis ligula, dapibus tristique orci dignissim ut. Donec tincidunt diam nunc, vel condimentum dui egestas et. Nulla commodo sem suscipit purus scelerisque consectetur. Donec diam purus, rutrum vel nisi consequat, viverra pulvinar dolor. Nam quam lacus, euismod semper blandit quis, rutrum at ligula. Pellentesque consectetur, libero fermentum tempus gravida, nulla felis mollis mauris, vitae bibendum diam felis ac velit.</p>
        </div>
        <div class="large-8 columns">
          <img src="http://placehold.it/400x300&text=[img]"/>
        </div>
      </div>
      <hr/>     

<h3 data-magellan-destination="sub3">Migration to Hong Kong</h3>
<a name="sub3"></a>
<!--
<div id="map"></div>-->
<img src="http://placehold.it/400x300&text=[img]"/>



<h3 data-magellan-destination="sub4">Police1</h3>
<a name="sub4"></a>

      <img src="http://placehold.it/400x300&text=[img]"/>

      <hr/>

<h3 data-magellan-destination="sub5">Police2</h3>
<a name="sub5"></a>   
<div class="row">
      <div class="large-4 columns">
          <p>DLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices dictum nisl, vel tincidunt tellus vulputate nec. Mauris eget justo sit amet erat rhoncus dictum et ut erat. Proin feugiat, libero eget mollis venenatis, dui diam sodales justo, eget efficitur leo turpis quis sapien. In porttitor felis sed dolor placerat faucibus. Cras maximus turpis ut tempor maximus. Donec sapien est, tempor vitae eros eu, mattis lacinia dui. Ut faucibus lobortis ligula, dapibus tristique orci dignissim ut. Donec tincidunt diam nunc, vel condimentum dui egestas et. Nulla commodo sem suscipit purus scelerisque consectetur. Donec diam purus, rutrum vel nisi consequat, viverra pulvinar dolor. Nam quam lacus, euismod semper blandit quis, rutrum at ligula. Pellentesque consectetur, libero fermentum tempus gravida, nulla felis mollis mauris, vitae bibendum diam felis ac velit.</p>
        </div>
        <div class="large-8 columns">
          <img src="http://placehold.it/400x300&text=[img]"/>
        </div>
</div>
<hr/>  

<h3 data-magellan-destination="sub6">Stat</h3>
<a name="sub6"></a>   
<div class="row full-width">
  <img src="http://placehold.it/400x300&text=[img]"/>
</div>
<hr/> 

      <footer class="row">

          <div class="row">
            <div class="large-6 columns">
              <p>© Interact New Media Production 2015</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
          </div>

      </footer>

<%= yield %>
</body>
</html>
